$gray: #495057 !default;
$gray-light: #868e96 !default;
$gray-lighter: #e9ecef !default;
$brand-warning: #f0ad4e !default;

.tforms {
  width: 100%;

  fieldset {
    border: none;
    padding: 0;
    margin-bottom: 25px;

    legend {
      border: none;
      border-bottom: 4px solid $gray;
      color: $gray;
      margin: 0;
      padding-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .tforms--row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $gray;

    .tforms--field {
      border-right: 1px solid $gray;
      font-size: 18px;

      > * {
        padding: 0 5px;
      }

      > div > label {
        font-size: 11px;
        color: $gray-light;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1px;
        display: block;
      }

      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: lighten($brand-warning, 36.8%);
      }
      &.isfocused {
        background-color: lighten($brand-warning, 34%);
      }
    }
  }

  // reset for .form-control
  .form-control {
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    font-size: 18px;
  }

  // if fieldset is disabled
  fieldset[disabled] .tforms--field,
  fieldset[disabled] .tforms--field:hover,
  .tforms--field[data-disabled='true'],
  .tforms--field[data-disabled='true']:hover {
    background-color: $gray-lighter;
  }
}
