.tforms {
  width: 100%;

  fieldset {
    border: none;
    padding: 0;
    margin-bottom: 25px;

    legend {
      border: none;
      border-bottom: 4px solid $gray-800;
      color: $gray-800;
      margin: 0;
      padding-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .tforms--row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $gray-800;

    .tforms--field {
      border-right: 1px solid $gray-800;
      font-size: 18px;

      > * {
        padding: 0 5px;
      }

      > div > label {
        font-size: 11px;
        color: $gray-600;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 0.05em;
        margin-bottom: 0;
      }

      &:last-child {
        border-right: none;
      }
      &:hover {
        background-color: lighten($yellow, 47%);
      }
      &.isfocused {
        background-color: lighten($yellow, 45%);
      }
    }
  }

  // reset for .form-control
  .form-control {
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    font-size: 18px;
  }

  // if fieldset is disabled
  fieldset[disabled] .tforms--field,
  fieldset[disabled] .tforms--field:hover,
  .tforms--field[data-disabled="true"],
  .tforms--field[data-disabled="true"]:hover {
    background-color: $gray-200;
  }
}
